:root {
    --rood: #dd3038;
    --oranje: #e7613a;
    --licht_oranje: #FDF4F2;
    --zwart: #292929;
    --wit: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    background-color: var(--licht_oranje);
    font-family: 'Quicksand', sans-serif
}

/*.app-wrapper {*/
/*}*/

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: linear-gradient(to right, var(--oranje), var(--rood)); /*background-color: var(--rood);*/
    width: 100%;
    justify-content: center;
}

.nav-wrapper {
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    flex-basis: 920px;
    flex-shrink: 1;
    flex-grow: 0;
}

.title-wrapper {
    flex-basis: 920px;
    margin: 60px 0 60px 0;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    justify-content: center;
}

.nav-wrapper a {
    color: var(--licht_oranje);
    text-decoration: none;
}

.nav-wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-wrapper ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
}

.footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
    background-color: var(--zwart);
    color: var(--licht_oranje);
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    flex-shrink: 1;
    text-align: center;
    padding: 10px;
    font-size: 0.75em;
}

.title-wrapper img {
    width: 150px;
}

.app-wrapper {
    position: relative;
    min-height: 100vh;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.main-wrapper {*/
/*}*/
